html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
}

.topline__menu {
    position: fixed;
    z-index: 1;
    background-color: #696969;
    min-width: 750px;
    width: 100%;
    min-height: 60px;
}

.top__nav {
    position: fixed;
    z-index: 0;
    padding-top: 60px;
    background-color: #FFFFFF;
    min-width: 750px;
    width: 100%;
    min-height: 50px;
    height: 50px;
    margin-bottom: 40px;
}

.topline__asidemenu {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 60px;
    /* padding: 20px; */
}

.topline__in {
    min-width: 250px;
    max-width: 600px;
    min-height: 60px;
    padding: 20px 0px 0px 120px;
    margin-right: 0px;
}

.header__info {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    color: white;
}

.header {
    display: inline-block;
    width: 750px;
    height: 100%;
    padding-top: 15px;
    padding-left: 250px;
}
.header:last-child {
    width: 350px;
}
.nav__menu {
    list-style-type: none;
    padding-left: 250px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.nav__item {
    display: inline-block;
    margin-right: 25px;
    padding: 5px;
    width: 180px;
    height: 100%;
    font-size: 18px;
}
.nav__item:nth-child(2n) {
    width: 120px;
}
.nav__item:last-child {
    width: 120px;
    margin-right: 0px;
}
.main__content {
    width: 100%;
    height: 100%;
    padding-top: 115px;
}
.inner__content {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
  /**************************/
 /****-Параметры ссылки-****/
/**************************/  

.profile__link {
    font-size: 18px;
    color:white;
    display: inline-block;
    margin-bottom: 15px;
}
.profile__link:hover {
    color:rgb(215, 206, 206);
}
.profile__link:active {
    color: rgba(214, 199, 199, 0.601);
}
/**************************/
/**Выдвижное меню контент**/
/**************************/

.side__content {
    width: 380px;
    height: 100%;
    margin-top: 65px;
    padding: 5px;
    text-align: center;
}

.side__caption {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 150px;
    font-style: italic;
}

.side__title {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
}

.side__items {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.side__menu {
    margin-bottom: 400px;
}

.side__footer {
    font-size: 14px;
}

.side__paragraph {
    font-size: 14px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.side__paragraph:not(:last-child) {
    margin-bottom: 10px;
}

.side__items:not(:last-child) {
    margin-bottom: 25px;
}

/*****************/
/*Выдвижное меню*/
/***************/
.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 400px;
    background-color: #eee;
    height: 100%;
    top: 0;
    left: -400px;
    transition: left .2s;
    z-index: 2;

}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #fff;
    background-color: #666;
    padding: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 35px;

}

.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
    left: 355px;
}

.hidden-menu-ticker:checked~.hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
    top: 10px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.third {
    top: -10px;
}